.grad-btn {
  font-family: "Orbitron", sans-serif;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3rem;
  border: 1px solid #bea870;
  border-radius: 0;
  width: 100%;
  padding: 2rem 0px;
  margin: 20px auto;
  transition: all .7s ease-out, width .01s;
  background: transparent;
  background: linear-gradient(270deg, #bea870, #614b25, rgba(0,0,0,0), rgba(0,0,0,0));
  background-position: 1% 50%;  
  background-size: 300% 300%;
}

@media (min-width: 500px) {
  .grad-btn {
    width: 30rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.grad-btn,
.grad-btn:link, 
.grad-btn:visited, 
.grad-btn:active {
  text-decoration: none;
  color: #bea870;

}

.grad-btn:hover,
.grad-btn:focus, 
.grad-btn:active {
  box-shadow: none;
  outline: none;
  text-decoration: none;
  color: white;
  border-color: transparent;
  background-position: 99% 50%; 
}

.grad-btn.small {
  margin: 0;
  width: auto;
  display: inline;
  padding: 5px 10px;
}