.navbar {
  background-color: #0c130a;
}

.navbar-brand {
	font-family: "Orbitron", sans-serif;
}

@media (max-width: 768px) {
  .navbar-brand .full-brand {
    display: none;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: #bea870;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #172213;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-nav>li>a {
  color: #bea870;
}

.navbar-inverse .navbar-nav>li>a {
	cursor: pointer;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #dac99c;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #dac99c;
  background-color: #172213;
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle .icon-bar:hover,
.navbar-inverse .navbar-toggle .icon-bar:focus {
  background-color: #bea870;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #bea870;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
  	color: #dac99c;
  }
}

.dropdown-menu {
  background-color: #5e665b;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #dac99c;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: rgba(23,34,19,.2);
}